<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="h-fit mt-8 w-full  justify-center items-start flex">
        <div class=" border border-gray-600 md:w-1/2 w-3/4 p-10 rounded-lg">
            <form class="max-w-sm" method="post">
                <div class="mb-5 flex flex-col items-left justify-center">
                    <label for="password" class="my-2 text-xl font-medium text-gray-900">New Password</label>
                    <input  type="password" placeholder="Enter New Password" name="newPassword" id="password"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" required>
                    <div class="mt-4 flex gap-2">
                        <input type="checkbox" class="w-4" id="show">
                        <label for="show">Show Password</label>
                    </div>
                </div>

                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
            </form>
        </div>
    </div>
</body>
<script>
    const showCheckbox = document.getElementById("show");
    const passwordInput = document.getElementById("password");

    showCheckbox.addEventListener("click", () => {
        passwordInput.type = showCheckbox.checked ? "text" : "password";
    });
</script>

</html>