<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="h-screen w-full justify-center items-center flex">
        <div class="max-w-sm mx-auto border border-gray-600 p-10 rounded-lg">
            <h2 class="font-bold text-2xl py-2">Eventory Admin</h2>
            <form class="max-w-sm mx-auto" action="/api/auth/signup" method="post">
                <div class="mb-5">
                    <label for="Fullname" class="mb-2 text-sm font-medium text-gray-900">
                        Fullname</label>
                    <input type="text" name="fullname"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5"
                        placeholder="Fullname" required id="Fullname" />
                </div>
                <div class="mb-5">
                    <label for="email" class="mb-2 text-sm font-medium text-gray-900">Your
                        email</label>
                    <input type="email" id="email"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5"
                        placeholder="Email" name="email" required />
                </div>
                <div class="mb-5">
                    <label for="password" class=" mb-2 text-sm font-medium text-gray-900">Your
                        password</label>
                    <input type="password" id="password" name="password"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 "
                        placeholder="Password" required />
                </div>
                <div class="mb-5">
                    <label for="Role" class=" mb-2 text-sm font-medium text-gray-900">Your
                        Role</label>
                    <div class="flex gap-2">
                        <div class="flex gap-2">
                            <input type="radio" id="admin-radio" name="role" value="admin" class="mt-[3%]" required />
                            <label for="admin-radio" class="text-sm text-gray-800">admin</label>
                        </div>
                        <div class="flex gap-2">
                            <input type="radio" id="student-radio" name="role" value="student" class="mt-[3%]"
                                required />
                            <label for="student-radio" class="text-sm text-gray-800">student</label>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <label for="college" class=" mb-2 text-sm font-medium text-gray-900">College</label>
                    <input type="text" id="college"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 "
                        placeholder="College" name="clgName" required />
                </div>
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Register</button>
            </form>
        </div>
    </div>
</body>

</html>